<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdbootstrap/css/style.css">
</head>

<body>
<!-- Bắt đầu code-->
<div class="container-fluid">
    <!--    row 1-->
    <div class="row">
        <!--        nút home-->
        <a class="navbar-brand" href="/admin/loadCategoryAndHome">Trang chủ</a>
        <div class="float-right">
            <a class="navbar-brand" href="/">Đăng xuất</a>
        </div>
    </div>

    <div id="data_viewAllProduct">
        <!--        nav list-->
        <ul class="nav grey lighten-4 py-4">
            <li class="nav-item">
                <a class="nav-link active" type="button"><i class="fas fa-align-justify mr-1"></i>Danh mục sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" onclick="btnAppendCategory()">Thêm danh mục</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" onclick="btnAppendProduct()">Thêm sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/viewAllProduct">Xem tổng quan các sản phẩm</a>
            </li>
        </ul>

        <!--    row 2-->
        <div class="row">

            <!--        phần danh mục-->
            <div class="col-3">
                <div>
                    <div class="list-group" id="list-tab" role="tablist">
                        <% result.map((row)=>{ %>
                            <a type="button" onclick="viewAllProductByCategory(<%= row.id %>)"
                               class="list-group-item list-group-item-action"
                               role="tab" aria-controls="home">
                                <%= row.name_category %>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>

            <!--        Hiển thị các sản phẩm-->
            <div class="col-9">
                <!-- Card deck -->
                <div id="display0" class="row row-cols-2 row-cols-md-3">
                    <% result_limit.map((row1)=>{ %>
                        <div id="divData" class="col mb-3">
                            <a href="#!">
                                <!-- Card -->
                                <div class="card">
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img class="card-img-top" style="height: 348px" src="<%= row1.link_image %>"
                                             alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h4 class="card-title"><%= row1.name_product %></h4>
                                        <!--Review-->
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <p><%= Intl.NumberFormat().format(row1.cost) %> VNĐ</p>
                                    </div>
                                </div>
                                <!-- Card -->
                            </a>
                        </div>
                    <% }) %>
                </div>

                <nav class="float-right" aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item ">
                            <button class="page-link" tabindex="-1">Previous</button>
                        </li>
                        <% pages.map((row3)=>{ %>
                            <li class="page-item">
                                <button type="button" onclick="btnPage(this)" class="page-link"
                                        value="<%= row3.page %>"
                                        id="btnPage">
                                    <%= row3.page %><span class="sr-only">(current)</span>
                                </button>
                            </li>
                        <% }) %>
                        <li class="page-item ">
                            <button class="page-link">Next</button>
                        </li>
                    </ul>
                </nav>

                <!--            phần thêm sản phẩm bị hide-->
                <div id="display1" style="display: none">
                    <div class="h2-responsive mb-5">Thêm sản phẩm</div>

                    <div id="message"></div>
                    <!--                    form thêm sản phẩm -->
                    <!--                        ảnh-->
                    <div class="row mb-3">
                        <div class="col-5">
                            <div>
                                Chọn hình ảnh minh họa cho sản phẩm<span style="color: red"> *</span>
                            </div>
                        </div>
                        <div class="col-7">
                            <input type="file" id="myFile" name="myFile">
                        </div>
                    </div>
                    <!--                        tên sp-->
                    <div class="row mb-3">
                        <div class="col-5">
                            <div>
                                Tên sản phẩm<span style="color: red"> *</span>
                            </div>
                        </div>
                        <div class="col-7">
                            <input type="text" id="name_product" name="name_product" class="form-control"
                                   required="required">
                        </div>
                    </div>
                    <!--                        giá sp-->
                    <div class="row mb-3">
                        <div class="col-5">
                            <div>
                                Giá sản phẩm<span style="color: red"> *</span>
                            </div>
                        </div>
                        <div class="col-7">
                            <input type="text" id="cost_product" name="cost_product" class="form-control"
                                   required="required">
                        </div>
                    </div>
                    <!--                        danh mục sp-->
                    <div class="row mb-3">
                        <div class="col-5">
                            <div>
                                Danh mục sản phẩm
                            </div>
                        </div>
                        <div class="col-7">
                            <select id="select_category" name="select_category" class="browser-default custom-select">
                                <% result.map((row)=>{ %>
                                    <option value="<%= row.id %>"><%= row.name_category %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <!--                        mô tả chi tiết-->
                    <div class="row mb-3">
                        <div class="col-5">
                            <div>
                                Mô tả
                            </div>
                        </div>
                        <div class="col-7">
                            <div id="ckeditor">
                                <figure class="table">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <button type="button" onclick="btnAddProduct()" class="btn btn-outline-brown">Thêm sản phẩm</button>
                </div>

                <!--            phần danh mục bị hide-->
                <div id="display2" style="display: none">
                    <div class="h2-responsive">Thêm danh mục</div>
                    <div class="md-form">
                        <form action="/addCategory" method="post">
                            <i class="fas fa-pen prefix"></i>
                            <input type="text" id="inputNameCategory" name="name_category" class="form-control">
                            <label for="inputNameCategory">Tên danh mục</label>
                            <button type="submit" class="btn btn-outline-elegant">Thêm danh mục</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Kết thúc code-->

<script>

</script>

<!--ckeditor-->
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<!--<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>-->
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--hiệu ứng phân trang-->
<script>
    $('li').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
</script>

<!--nút append phần thêm danh mục-->
<script>
    const btnAppendCategory = async () => {
        const displayBlock0 = document.getElementById("display0");
        const displayBlock1 = document.getElementById("display1");
        const displayBlock2 = document.getElementById("display2");

        if (displayBlock2.style.display === "none") {
            displayBlock2.style.display = "block";
        }
        if (displayBlock0.style.display === "block") {
            displayBlock0.style.display = "none";
        }
        if (displayBlock1.style.display === "block") {
            displayBlock1.style.display = "none";
        } else {
            displayBlock0.style.display = "none";
            displayBlock1.style.display = "none";
        }
    }
</script>

<!--nút append phần thêm sản phẩm-->
<script>
    const btnAppendProduct = async () => {
        const displayBlock0 = document.getElementById("display0");
        const displayBlock1 = document.getElementById("display1");
        const displayBlock2 = document.getElementById("display2");

        if (displayBlock1.style.display === "none") {
            displayBlock1.style.display = "block";
        }
        if (displayBlock0.style.display === "block") {
            displayBlock0.style.display = "none";
        }
        if (displayBlock2.style.display === "block") {
            displayBlock2.style.display = "none";
        } else {
            displayBlock0.style.display = "none";
            displayBlock2.style.display = "none";
        }
    }
</script>

<!--Nút xem chi tiết tất cả sản phẩm-->
<script>
    const viewAllProductByCategory = async (id) => {
        try {
            const result = await axios.get(`/viewProductByCategory?id=${id}`);
            console.log(result.data.result_of_search_by_category);
            let html = '';
            result.data.result_of_search_by_category.forEach((data) => {
                html += '<div class="col mb-3">\n' +
                    '    <a href="#!">\n' +
                    '        <!-- Card -->\n' +
                    '        <div class="card">\n' +
                    '            <!--Card image-->\n' +
                    '            <div class="view overlay">\n' +
                    '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                    '                     alt="Card image cap">\n' +
                    '                <a href="#!">\n' +
                    '                    <div class="mask rgba-white-slight"></div>\n' +
                    '                </a>\n' +
                    '            </div>\n' +
                    '\n' +
                    '            <!--Card content-->\n' +
                    '            <div class="card-body">\n' +
                    '                <!--Title-->\n' +
                    '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                    '                <!--Review-->\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <p>' + data.cost + ' VNĐ</p>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        <!-- Card -->\n' +
                    '    </a>\n' +
                    '</div>\n';
            })
            document.getElementById("display0").innerHTML = html;
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--set up phần thêm sản phẩm-->
<script>
    // cài đặt lưu file ảnh
    let file;
    document.querySelector("#myFile").onchange = (evt) => {
        file = evt.target.files[0];
        console.log(file);
    };

    <!--cài đặt ckeditor-->
    let editor;
    const initEditor = async () => {
        editor = await ClassicEditor
            .create(document.getElementById("ckeditor"), {
                cloudServices: {
                    uploadUrl: "https://75922.cke-cs.com/easyimage/upload/",
                    tokenUrl: "https://75922.cke-cs.com/token/dev/1c8883ce4decb5dde5b864f51be5a698dcb2f6d50e89998e6f3981551ebc"
                }
            });
        editor = await DecoupledEditor
            .create(document.getElementById('#editor'), editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');
                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            });
    }

    initEditor();

    const btnAddProduct = async () => {
        let description = editor.getData();
        let name_product = document.getElementById("name_product").value;
        let cost_product = document.getElementById("cost_product").value;
        let id_of_category = document.getElementById("select_category").value;

        const formData = new FormData();
        const imagefile = document.querySelector('#myFile');
        formData.append("id_of_category", id_of_category)
        formData.append("image", imagefile.files[0]);
        formData.append("name_product", name_product);
        formData.append("cost_product", cost_product);
        formData.append("description", description);
        try {
            const result = await axios.post(`/addProduct`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            console.log(result)
            const body = result.data;
            let html1 = "";
            if (body.msg === 'is_allowed_to_post') {
                html1 += "<div style='color: green'>Thêm sản phẩm thành công</div>\n";
                document.getElementById("message").innerHTML = html1;
            }
            if (body.msg === 'no_files_have_been_selected') {
                html1 += "<div style='color: red'>Bạn bắt buộc phải chọn ảnh minh họa cho sản phẩm</div>\n";
                document.getElementById("message").innerHTML = html1;
            }
            if (body.msg === 'important_parts_must_not_be_removed') {
                html1 += "<div style='color: red'>Bạn không thể bỏ qua các mục quan trọng</div>\n";
                document.getElementById("message").innerHTML = html1;
            }
            if (body.msg === 'this_is_not_image') {
                html1 += "<div style='color: red'>File bạn vừa chọn không phải là ảnh</div>\n";
                document.getElementById("message").innerHTML = html1;
            }
            // else {
            //     html1 += "<div style='color: red'>Có lỗi gì đó xảy ra</div>\n";
            //     document.getElementById("message").innerHTML = html1;
            // }
        } catch (e) {
            console.error(e)
        }
    }
</script>

<!--phân trang-->
<script>
    const btnPage = async (valueBtnPage) => {
        try {
            const result = await axios.post(`/pagination?page=${valueBtnPage.value}`);
            const body = result.data;
            console.log(body)
            let html = '';
            if (body.msg === 'reset page 1') {
                window.open(`/admin/loadCategoryAndHome?page=${valueBtnPage.value}`, `_self`);
            } else {
                body.sanpham.forEach((data) => {
                    html += '<div class="col mb-3"> \n' +
                        '    <!-- Card --> \n' +
                        '    <a> \n' +
                        '        <div class="card"> \n' +
                        '            <!--Card image--> \n' +
                        '            <div class="view overlay"> \n' +
                        '                <img class="card-img-top" style="height: 348px" src=" ' + data.link_image + '" \n' +
                        '                     alt="Card image cap"> \n' +
                        '                <a> \n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a> \n' +
                        '            </div>\n' +
                        '            <!--Card content--> \n' +
                        '            <div class="card-body"> \n' +
                        '                <!--Title--> \n' +
                        '                <h5 class="card-title" \n' +
                        '                    style="font-weight: lighter"> ' + data.name_product + ' </h5> \n' +
                        '                <p style="color: #333333; font-weight: bolder"> ' + Intl.NumberFormat().format(data.cost) + '\n' +
                        '                    VNĐ</p> \n' +
                        '                <!--Review--> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </a> \n' +
                        '    <!-- Card --> \n' +
                        '</div>';
                });
                document.getElementById("display0").innerHTML = html;
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>

</body>
</html>