<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdbootstrap/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div>
        <% result3.map((row3)=>{ %>
            <a class="navbar-brand" href="/admin/viewAllProduct">Quay lại</a>
            <a class="navbar-brand" href="/admin/loadCategoryAndHome">Trang chủ</a>
            <div class="h2-responsive mb-5">Sửa sản phẩm</div>
            <div id="message"></div>
            <!--                    form thêm sản phẩm -->
            <!--                        ảnh-->
            <div class="row mb-3">
                <div class="col-5">
                    <div class="mt-4">
                        Cập nhật hình ảnh<span style="color: red"> *</span>
                    </div>
                </div>
                <div class="col-7">
                    <input type="file" id="myFile1" name="myFile1">
                    <span><img style="width: 80px; height: 70px" src="<%= row3.link_image %>"></span>
                </div>
            </div>
            <!--                        tên sp-->
            <div class="row mb-3">
                <div class="col-5">
                    <div>
                        Tên sản phẩm<span style="color: red"> *</span>
                    </div>
                </div>
                <div class="col-7">
                    <input type="text" id="name_product1" name="name_product1" class="form-control"
                           value="<%= row3.name_product %>" required="required">
                </div>
            </div>
            <!--                        giá sp-->
            <div class="row mb-3">
                <div class="col-5">
                    <div>
                        Giá sản phẩm<span style="color: red"> *</span>
                    </div>
                </div>
                <div class="col-7">
                    <input type="text" id="cost_product1" name="cost_product1" class="form-control"
                           value="<%= row3.cost %>" required="required">
                </div>
            </div>
        <% }) %>
        <!--                        danh mục sp-->
        <div class="row mb-3">
            <div class="col-5">
                <div>
                    Danh mục sản phẩm
                </div>
            </div>
            <div class="col-7">
                <select id="select_category1" name="select_category1" class="browser-default custom-select">
                    <% result1.map((row)=>{ %>
                        <option value="<%= row.id %>"><%= row.name_category %></option>
                    <% }) %>
                </select>
            </div>
        </div>

            <div class="row mb-3">
                <div class="col-5">
                    <div>
                        Mô tả chi tiết
                    </div>
                </div>
                <div class="col-7">
                    <% result3.map((row3)=>{%>
                        <div id="ckeditor"><%- row3.description%></div>
                    <%})%>
                </div>
            </div>
        <button type="button" onclick="editProduct(<%= result3[0].id %>)" class="btn btn-outline-brown">Sửa</button>
    </div>
    <!--*********************-->
</div>

<!-- jQuery -->
<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
<!--ckeditor-->
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // cài đặt lưu file ảnh
    let file1;
    document.querySelector("#myFile1").onchange = (evt) => {
        file1 = evt.target.files[0];
        console.log(file1);
    };

    <!--cài đặt ckeditor-->
    let editor;
    const initEditor = async () => {
        editor = await ClassicEditor
            .create(document.getElementById("ckeditor"), {
                cloudServices: {
                    uploadUrl: "https://75922.cke-cs.com/easyimage/upload/",
                    tokenUrl: "https://75922.cke-cs.com/token/dev/1c8883ce4decb5dde5b864f51be5a698dcb2f6d50e89998e6f3981551ebc"
                }
            });
    }
    initEditor();
    const editProduct = async (id) => {

        let name_product1 = document.getElementById("name_product1").value;
        let cost_product1 = document.getElementById("cost_product1").value;
        let id_of_category1 = document.getElementById("select_category1").value;
        let description1 = editor.getData();

        const formData = new FormData();
        const imagefile1 = document.querySelector('#myFile1');
        formData.append("id_of_category1", id_of_category1)
        formData.append("image1", imagefile1.files[0]);
        formData.append("name_product1", name_product1);
        formData.append("cost_product1", cost_product1);
        formData.append("description1",description1);
        try {
            const result = await axios.post(`/editProduct?id=${id}`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            console.log(result)
            const body = result.data;
            let html1 = "";
            if (body.msg === 'successful_editing') {
                html1 += "<div style='color: green'>Chỉnh sửa nội dung sản phẩm thành công</div>\n";
                document.getElementById("message").innerHTML = html1;
            } else {
                html1 += "<div style='color: red'>Có lỗi gì đó xảy ra</div>\n";
                document.getElementById("message").innerHTML = html1;
            }
        } catch (e) {
            console.error(e)
        }
    }
</script>

</body>
</html>