<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phần cho user</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdbootstrap/css/style.css">
</head>

<body>

<%- include('path_div/navBarHome.ejs') %>
<!-- Bắt đầu code-->
<div class="container-fluid">
    <div id="data_viewAllProduct">
        <!--        nav list-->
        <ul class="nav grey lighten-4 py-4">
            <li class="nav-item">
                <a class="nav-link active" type="button">
                    <i class="fas fa-align-justify mr-1"></i><b>Danh mục sản phẩm</b>
                </a>
            </li>
            <li class="nav-item mr-4">
                <a style="color: #444444" href="/user/pageCart?id_user=<%= id_user %>">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <font style="font-size: 19px; font-weight: bolder">Giỏ hàng</font>
                </a>
            </li>
            <li class="nav-item mr-5 mt-2">
                <a style="color: #444444" type="button" onclick="chooseNumberPageToDisplay(<%= id_user %>)">
                    <font style="font-size: 19px">Tùy chỉnh số sp hiển thị</font>
                </a>
            </li>
            <li class="nav-item mr-5">
                <!-- Default input -->
                <input style="width: 350px" type="text" id="data_input_search" class="form-control"
                       onkeypress="searchProductEnter(event)" placeholder="Tìm kiếm sản phẩm, danh mục,....">
            </li>
            <li class="nav-item mr-4 mt-2">
                <a style="color: #444444" href="/user/pageTrackOder?id_user=<%= id_user %>">
                    <font style="font-size: 19px"><i class="fas fa-box"></i> Theo dõi đơn hàng</font>
                </a>
            </li>
        </ul>

        <!--    row 2-->
        <div class="row">
            <!--        phần danh mục-->
            <div class="col-3">
                <div id="divData1">
                    <div class="list-group" id="list-tab" role="tablist">
                        <% result.map((row)=>{ %>
                            <a type="button" onclick="viewAllProductByCategory(<%= row.id %>)"
                               class="list-group-item list-group-item-action"
                               role="tab" aria-controls="home">
                                <%= row.name_category %>
                            </a>
                        <% }) %>
                    </div>
                </div>
            </div>

            <!--        Hiển thị các sản phẩm-->
            <div class="col-9">
                <!-- Card deck -->
                <div id="divData" class="row row-cols-1 row-cols-md-3">
                    <% result1.map((row1)=>{ %>
                        <div class="col mb-3">
                            <!-- Card -->
                            <a href="/user/detailProduct_User?id=<%= row1.id %>">
                                <div class="card">
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img class="card-img-top" style="height: 348px" src="<%= row1.link_image %>"
                                             alt="Card image cap">
                                        <a href="/user/detailProduct_User?id_user=<%= id_user %>&id_product=<%= row1.id %>">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Title-->
                                        <h5 class="card-title"
                                            style="font-weight: lighter"><%= row1.name_product %></h5>
                                        <p style="color: #333333; font-weight: bolder"><%= Intl.NumberFormat().format(row1.cost) %>
                                            VNĐ</p>
                                        <!--Review-->
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                        <i class='fas fa-star blue-text'> </i>
                                    </div>
                                </div>
                            </a>
                            <!-- Card -->
                        </div>
                    <% }) %>
                </div>
                <nav id="navPage" class="float-right" aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                        <li class="page-item ">
                            <button class="page-link" tabindex="-1">Previous</button>
                        </li>
                        <% pages.map((row3)=>{ %>
                            <li class="page-item">
                                <button type="button" onclick="btnPage(this)" class="page-link"
                                        value="<%= row3.page %>"
                                        id="btnPage">
                                    <%= row3.page %><span class="sr-only">(current)</span>
                                </button>
                            </li>
                        <% }) %>
                        <li class="page-item ">
                            <button class="page-link">Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
<!-- Kết thúc code-->

<!--ckeditor-->
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<!--<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>-->
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--hiệu ứng phân trang-->
<script>
    $('li').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
    });
</script>

<!--Tìm kiếm sản phẩm khi enter-->
<script>
    const searchProductEnter = async (e) => {
        if (e.keyCode === 13) {
            const data_input_search = document.getElementById("data_input_search").value;
            try {
                const result = await axios.post(`/searchProduct?id_user=<%= id_user %>`, {data_input_search});
                const body = result.data;
                const id_user = body.id_user;
                let html = '', html1 = '';
                let get;
                result.data.result_search.map((data) => {
                    html += '<div class="col mb-3">\n' +
                        '    <a href="/user/detailProduct_User?id=' + data.id + '">\n' +
                        '        <!-- Card -->\n' +
                        '        <div class="card">\n' +
                        '            <!--Card image-->\n' +
                        '            <div class="view overlay">\n' +
                        '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                        '                     alt="Card image cap">\n' +
                        '                <a href="/user/detailProduct_User?id_user=' + id_user + '&id_product=' + data.id + '">\n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '\n' +
                        '            <!--Card content-->\n' +
                        '            <div class="card-body">\n' +
                        '                <!--Title-->\n' +
                        '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                        '                <!--Review-->\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <!-- Card -->\n' +
                        '    </a>\n' +
                        '</div>\n';
                    get = data.id;
                })
                html1 += '<div class="p-2 mt-5" style="border: 1px solid #aaaaaa">\n' +
                    '    <h4>Giá</h4>\n' +
                    '    <h6 style="color: #acacac">Chọn giá khoảng</h6>\n' +
                    '    <div>\n' +
                    '        <input id="headMoney" placeholder="head" class="mr-2" style="width: inherit; width: 25%" type="text">\n' +
                    '        -\n' +
                    '        <input id="tailMoney" placeholder="tail" class="ml-2" style="width: inherit; width: 25%" type="text">\n' +
                    '    </div>\n' +
                    '    <div>\n' +
                    '        <button onclick="searchProductByMoney(' + get + ')" type="button" class="ml-0 pt-1 pb-1 pl-4 pr-4 btn btn-outline-cyan">OK</button>\n' +
                    '    </div>\n' +
                    '</div>';
                document.getElementById("divData").innerHTML = html;
                document.getElementById("divData1").innerHTML = html1;
                document.getElementById("navPage").style.display = 'none';
            } catch (e) {
                console.error(e);
            }
        }
    }
</script>

<!--phân trang-->
<script>
    const btnPage = async (valueBtnPage) => {
        try {
            const result = await axios.post(`/pagination?id_user=${<%= id_user %>}&page=${valueBtnPage.value}`);
            const body = result.data;
            console.log(body)
            const id_user1 = body.id_user;
            let html = '';
            if (body.msg === 'reset page 1') {
                window.open(`/homeUser?id_user=${<%= id_user %>}&page=${valueBtnPage.value}`, `_self`);
            } else {
                body.sanpham.forEach((data) => {
                    html += '<div class="col mb-3"> \n' +
                        '    <!-- Card --> \n' +
                        '    <a href="/user/detailProduct_User?id= ' + data.id + '"> \n' +
                        '        <div class="card"> \n' +
                        '            <!--Card image--> \n' +
                        '            <div class="view overlay"> \n' +
                        '                <img class="card-img-top" style="height: 348px" src=" ' + data.link_image + '" \n' +
                        '                     alt="Card image cap"> \n' +
                        '                <a href="/user/detailProduct_User?id_user= ' + id_user1 + '&id_product= ' + data.id + '"> \n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a> \n' +
                        '            </div>\n' +
                        '            <!--Card content--> \n' +
                        '            <div class="card-body"> \n' +
                        '                <!--Title--> \n' +
                        '                <h5 class="card-title" \n' +
                        '                    style="font-weight: lighter"> ' + data.name_product + ' </h5> \n' +
                        '                <p style="color: #333333; font-weight: bolder"> ' + Intl.NumberFormat().format(data.cost) + '\n' +
                        '                    VNĐ</p> \n' +
                        '                <!--Review--> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '                <i class="fas fa-star blue-text"> </i> \n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '    </a> \n' +
                        '    <!-- Card --> \n' +
                        '</div>';
                });
                document.getElementById("divData").innerHTML = html;
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--xem sản phẩm theo danh mục-->
<script>
    const viewAllProductByCategory = async (id) => {
        try {
            const result = await axios.get(`/viewProductByCategory_user?id_user=<%= id_user %>&id_category=${id}`);
            console.log(result.data.result_of_search_by_category);
            const body = result.data;
            const id_user = body.id_user;

            let html = '', html1 = '';
            body.result_of_search_by_category.forEach((data) => {
                html += '<div class="col mb-3">\n' +
                    '    <a href="#!">\n' +
                    '        <!-- Card -->\n' +
                    '        <div class="card">\n' +
                    '            <!--Card image-->\n' +
                    '            <div class="view overlay">\n' +
                    '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                    '                     alt="Card image cap">\n' +
                    '                <a href="/user/detailProduct_User?id_user= ' + id_user + '&id_product= ' + data.id + '">\n' +
                    '                    <div class="mask rgba-white-slight"></div>\n' +
                    '                </a>\n' +
                    '            </div>\n' +
                    '            <!--Card content-->\n' +
                    '            <div class="card-body">\n' +
                    '                <!--Title-->\n' +
                    '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                    '                <!--Review-->\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                    '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        <!-- Card -->\n' +
                    '    </a>\n' +
                    '</div>\n';
            })

            html1 += '<div class="p-2 mt-5" style="border: 1px solid #aaaaaa">\n' +
                '    <h4>Giá</h4>\n' +
                '    <h6 style="color: #acacac">Chọn giá khoảng</h6>\n' +
                '    <div>\n' +
                '        <input id="headMoney" placeholder="head" class="mr-2" style="width: inherit; width: 25%" type="text">\n' +
                '        -\n' +
                '        <input id="tailMoney" placeholder="tail" class="ml-2" style="width: inherit; width: 25%" type="text">\n' +
                '    </div>\n' +
                '    <div>\n' +
                '        <button onclick="searchProductByMoney(' + id + ')" type="button" class="ml-0 pt-1 pb-1 pl-4 pr-4 btn btn-outline-cyan">OK</button>\n' +
                '    </div>\n' +
                '</div>';

            document.getElementById("divData").innerHTML = html;
            document.getElementById("divData1").innerHTML = html1;
            document.getElementById("navPage").style.display = 'none';
        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--chọn giá dựa trên money head và money tail-->
<script>
    const searchProductByMoney = async (id) => {
        try {
            const headMoney = document.getElementById("headMoney").value;
            const tailMoney = document.getElementById("tailMoney").value;
            const formData = new FormData();
            formData.append("headMoney", headMoney);
            formData.append("tailMoney", tailMoney);
            const result = await axios.post(`/searchProductByMoney?id_user=<%= id_user %>&id_category=${id}`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            });
            const body = result.data;
            const id_user = body.id_user[0];
            console.log(id_user);
            let html = '';
            if (body.msg === 'nothing to find') {
                html += '<div>Không có sản phẩm nào</div>';
                document.getElementById("divData").innerHTML = html;
            }
            // head money
            if (body.msg === 'starting_price') {
                body.starting_price.map((data) => {
                    html += '<div class="col mb-3">\n' +
                        '    <a href="#!">\n' +
                        '        <!-- Card -->\n' +
                        '        <div class="card">\n' +
                        '            <!--Card image-->\n' +
                        '            <div class="view overlay">\n' +
                        '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                        '                     alt="Card image cap">\n' +
                        '                <a href="/user/detailProduct_User?id_user= ' + id_user + '&id_product= ' + data.id + '">\n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '            <!--Card content-->\n' +
                        '            <div class="card-body">\n' +
                        '                <!--Title-->\n' +
                        '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                        '                <!--Review-->\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <!-- Card -->\n' +
                        '    </a>\n' +
                        '</div>\n';
                })
                document.getElementById("divData").innerHTML = html;
            }
            // end money
            if (body.msg === 'end_price') {
                body.end_price.map((data) => {
                    html += '<div class="col mb-3">\n' +
                        '    <a href="#!">\n' +
                        '        <!-- Card -->\n' +
                        '        <div class="card">\n' +
                        '            <!--Card image-->\n' +
                        '            <div class="view overlay">\n' +
                        '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                        '                     alt="Card image cap">\n' +
                        '                <a href="/user/detailProduct_User?id_user= ' + id_user + '&id_product= ' + data.id + '">\n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '            <!--Card content-->\n' +
                        '            <div class="card-body">\n' +
                        '                <!--Title-->\n' +
                        '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                        '                <!--Review-->\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <!-- Card -->\n' +
                        '    </a>\n' +
                        '</div>\n';
                })
                document.getElementById("divData").innerHTML = html;
            }
            // head = tail
            if (body.msg === 'start_equal_end_price') {
                body.start_equal_end_price.map((data) => {
                    html += '<div class="col mb-3">\n' +
                        '    <a href="#!">\n' +
                        '        <!-- Card -->\n' +
                        '        <div class="card">\n' +
                        '            <!--Card image-->\n' +
                        '            <div class="view overlay">\n' +
                        '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                        '                     alt="Card image cap">\n' +
                        '                <a href="/user/detailProduct_User?id_user= ' + id_user + '&id_product= ' + data.id + '">\n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '            <!--Card content-->\n' +
                        '            <div class="card-body">\n' +
                        '                <!--Title-->\n' +
                        '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                        '                <!--Review-->\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <!-- Card -->\n' +
                        '    </a>\n' +
                        '</div>\n';
                })
                document.getElementById("divData").innerHTML = html;
            }
            // between
            if (body.msg === 'start_and_end_price') {
                body.start_and_end_price.map((data) => {
                    html += '<div class="col mb-3">\n' +
                        '    <a href="#!">\n' +
                        '        <!-- Card -->\n' +
                        '        <div class="card">\n' +
                        '            <!--Card image-->\n' +
                        '            <div class="view overlay">\n' +
                        '                <img class="card-img-top" style="height: 369px" src="' + data.link_image + '"\n' +
                        '                     alt="Card image cap">\n' +
                        '                <a href="/user/detailProduct_User?id_user= ' + id_user + '&id_product= ' + data.id + '">\n' +
                        '                    <div class="mask rgba-white-slight"></div>\n' +
                        '                </a>\n' +
                        '            </div>\n' +
                        '            <!--Card content-->\n' +
                        '            <div class="card-body">\n' +
                        '                <!--Title-->\n' +
                        '                <h4 class="card-title">' + data.name_product + '</h4>\n' +
                        '                <!--Review-->\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <i class=\'fas fa-star blue-text\'> </i>\n' +
                        '                <p>' + Intl.NumberFormat().format(data.cost) + ' VNĐ</p>\n' +
                        '            </div>\n' +
                        '        </div>\n' +
                        '        <!-- Card -->\n' +
                        '    </a>\n' +
                        '</div>\n';
                })
                document.getElementById("divData").innerHTML = html;
            }

        } catch (e) {
            console.error(e);
        }
    }
</script>

<!--chọn số sản phẩm để hiển thị mà user thích -->
<script>
    const chooseNumberPageToDisplay = async (id_user) => {
        try {
            let html = '';
            html += '<div class="mt-5">\n' +
                '<h5> Chọn số sản phẩm mà bạn muốn hiển thị </h5>\n' +
                '<select id="selectNumberPage" class="browser-default custom-select">\n' +
                '  <option value="2">2</option>\n' +
                '  <option value="3">3</option>\n' +
                '  <option value="4">4</option>\n' +
                '  <option value="5">5</option>\n' +
                '  <option value="6">6</option>\n' +
                '  <option value="7">7</option>\n' +
                '  <option value="8">8</option>\n' +
                '  <option value="9">9</option>\n' +
                '  <option value="10">10</option>\n' +
                '</select>\n' +
                '<button type="button" onclick="submitNumberPage('+id_user+')" class="btn btn-outline-cyan">Chọn</button>\n'+
                '</div>';
            document.getElementById("divData").innerHTML = html;
            document.getElementById("navPage").style.display = 'none';
        } catch (e) {
            console.error(e);
        }
    }

    const submitNumberPage = async (id_user) =>{
        try {
            const data_select_number_page = document.getElementById("selectNumberPage").value;
            const result = await axios.post(`/insertNumberPageToCookie?id_user=${id_user}`, {data_select_number_page});
            const body = result.data;
            if (body.msg === 'ok'){
                window.open(`/homeUser?id_user=${id_user}`,`_self`);
            }
        }catch (e) {
            console.error(e);
        }
    }
</script>
</body>
</html>